<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nanopay.app"
  version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Nanopay</name>
  <description>Nanopay App</description>
  <author email="support@nanopay.app">Nanopay</author>

  <content src="index.html" />

  <allow-navigation href="*" />
  <access origin="*" />

  <preference name="AndroidXEnabled" value="true"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="AutoHideSplashScreen" value="true"/>
</widget>
